@font-face {
  font-family: "remixicon";
  src: url('https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.eot?t=1553697486737'); /* IE9*/
  src: url('https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.eot?t=1553697486737#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.woff2?t=1553697486737") format("woff2"),
  url("https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.woff?t=1553697486737") format("woff"),
  url('https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.ttf?t=1553697486737') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('https://cdn.jsdelivr.net/gh/scopor/cdn@1.0.7/remixicon.svg?t=1553697486737#remixicon') format('svg'); /* iOS 4.1- */
}

[class^="remixicon-"], [class*=" remixicon-"] {
  font-family: 'remixicon' !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.remixicon-4k-fill:before { content: "\ef7a"; }
.remixicon-4k-line:before { content: "\ef7b"; }
.remixicon-account-box-fill:before { content: "\ef7c"; }
.remixicon-account-box-line:before { content: "\ef7d"; }
.remixicon-account-circle-fill:before { content: "\ef7e"; }
.remixicon-account-circle-line:before { content: "\ef7f"; }
.remixicon-account-pin-box-fill:before { content: "\ef80"; }
.remixicon-account-pin-box-line:before { content: "\ef81"; }
.remixicon-account-pin-circle-fill:before { content: "\ef82"; }
.remixicon-account-pin-circle-line:before { content: "\ef83"; }
.remixicon-add-box-fill:before { content: "\ef84"; }
.remixicon-add-box-line:before { content: "\ef85"; }
.remixicon-add-circle-fill:before { content: "\ef86"; }
.remixicon-add-circle-line:before { content: "\ef87"; }
.remixicon-add-fill:before { content: "\ef88"; }
.remixicon-add-line:before { content: "\ef89"; }
.remixicon-admin-fill:before { content: "\ef8a"; }
.remixicon-admin-line:before { content: "\ef8b"; }
.remixicon-airplay-fill:before { content: "\ef8c"; }
.remixicon-airplay-line:before { content: "\ef8d"; }
.remixicon-alarm-fill:before { content: "\ef8e"; }
.remixicon-alarm-line:before { content: "\ef8f"; }
.remixicon-alarm-warning-fill:before { content: "\ef90"; }
.remixicon-alarm-warning-line:before { content: "\ef91"; }
.remixicon-album-fill:before { content: "\ef92"; }
.remixicon-album-line:before { content: "\ef93"; }
.remixicon-align-bottom:before { content: "\ef94"; }
.remixicon-align-center:before { content: "\ef95"; }
.remixicon-align-justify:before { content: "\ef96"; }
.remixicon-align-left:before { content: "\ef97"; }
.remixicon-align-right:before { content: "\ef98"; }
.remixicon-align-top:before { content: "\ef99"; }
.remixicon-align-vertically:before { content: "\ef9a"; }
.remixicon-alipay-fill:before { content: "\ef9b"; }
.remixicon-alipay-line:before { content: "\ef9c"; }
.remixicon-amazon-fill:before { content: "\ef9d"; }
.remixicon-amazon-line:before { content: "\ef9e"; }
.remixicon-anchor-fill:before { content: "\ef9f"; }
.remixicon-anchor-line:before { content: "\efa0"; }
.remixicon-android-fill:before { content: "\efa1"; }
.remixicon-android-line:before { content: "\efa2"; }
.remixicon-apple-fill:before { content: "\efa3"; }
.remixicon-apple-line:before { content: "\efa4"; }
.remixicon-apps-2-fill:before { content: "\efa5"; }
.remixicon-apps-2-line:before { content: "\efa6"; }
.remixicon-apps-fill:before { content: "\efa7"; }
.remixicon-apps-line:before { content: "\efa8"; }
.remixicon-archive-drawer-fill:before { content: "\efa9"; }
.remixicon-archive-drawer-line:before { content: "\efaa"; }
.remixicon-archive-fill:before { content: "\efab"; }
.remixicon-archive-line:before { content: "\efac"; }
.remixicon-arrow-down-circle-fill:before { content: "\efad"; }
.remixicon-arrow-down-circle-line:before { content: "\efae"; }
.remixicon-arrow-down-fill:before { content: "\efaf"; }
.remixicon-arrow-down-line:before { content: "\efb0"; }
.remixicon-arrow-down-s-fill:before { content: "\efb1"; }
.remixicon-arrow-down-s-line:before { content: "\efb2"; }
.remixicon-arrow-drop-down-fill:before { content: "\efb3"; }
.remixicon-arrow-drop-down-line:before { content: "\efb4"; }
.remixicon-arrow-drop-left-fill:before { content: "\efb5"; }
.remixicon-arrow-drop-left-line:before { content: "\efb6"; }
.remixicon-arrow-drop-right-fill:before { content: "\efb7"; }
.remixicon-arrow-drop-right-line:before { content: "\efb8"; }
.remixicon-arrow-drop-up-fill:before { content: "\efb9"; }
.remixicon-arrow-drop-up-line:before { content: "\efba"; }
.remixicon-arrow-go-back-fill:before { content: "\efbb"; }
.remixicon-arrow-go-back-line:before { content: "\efbc"; }
.remixicon-arrow-go-forward-fill:before { content: "\efbd"; }
.remixicon-arrow-go-forward-line:before { content: "\efbe"; }
.remixicon-arrow-left-circle-fill:before { content: "\efbf"; }
.remixicon-arrow-left-circle-line:before { content: "\efc0"; }
.remixicon-arrow-left-down-fill:before { content: "\efc1"; }
.remixicon-arrow-left-down-line:before { content: "\efc2"; }
.remixicon-arrow-left-fill:before { content: "\efc3"; }
.remixicon-arrow-left-line:before { content: "\efc4"; }
.remixicon-arrow-left-s-fill:before { content: "\efc5"; }
.remixicon-arrow-left-s-line:before { content: "\efc6"; }
.remixicon-arrow-left-up-fill:before { content: "\efc7"; }
.remixicon-arrow-left-up-line:before { content: "\efc8"; }
.remixicon-arrow-right-circle-fill:before { content: "\efc9"; }
.remixicon-arrow-right-circle-line:before { content: "\efca"; }
.remixicon-arrow-right-down-fill:before { content: "\efcb"; }
.remixicon-arrow-right-down-line:before { content: "\efcc"; }
.remixicon-arrow-right-fill:before { content: "\efcd"; }
.remixicon-arrow-right-line:before { content: "\efce"; }
.remixicon-arrow-right-s-fill:before { content: "\efcf"; }
.remixicon-arrow-right-s-line:before { content: "\efd0"; }
.remixicon-arrow-right-up-fill:before { content: "\efd1"; }
.remixicon-arrow-right-up-line:before { content: "\efd2"; }
.remixicon-arrow-up-circle-fill:before { content: "\efd3"; }
.remixicon-arrow-up-circle-line:before { content: "\efd4"; }
.remixicon-arrow-up-fill:before { content: "\efd5"; }
.remixicon-arrow-up-line:before { content: "\efd6"; }
.remixicon-arrow-up-s-fill:before { content: "\efd7"; }
.remixicon-arrow-up-s-line:before { content: "\efd8"; }
.remixicon-artboard-2-fill:before { content: "\efd9"; }
.remixicon-artboard-2-line:before { content: "\efda"; }
.remixicon-artboard-fill:before { content: "\efdb"; }
.remixicon-artboard-line:before { content: "\efdc"; }
.remixicon-article-fill:before { content: "\efdd"; }
.remixicon-article-line:before { content: "\efde"; }
.remixicon-at-fill:before { content: "\efdf"; }
.remixicon-at-line:before { content: "\efe0"; }
.remixicon-attachment-fill:before { content: "\efe1"; }
.remixicon-attachment-line:before { content: "\efe2"; }
.remixicon-award-fill:before { content: "\efe3"; }
.remixicon-award-line:before { content: "\efe4"; }
.remixicon-baidu-fill:before { content: "\efe5"; }
.remixicon-baidu-line:before { content: "\efe6"; }
.remixicon-ball-pen-fill:before { content: "\efe7"; }
.remixicon-ball-pen-line:before { content: "\efe8"; }
.remixicon-bank-card-2-fill:before { content: "\efe9"; }
.remixicon-bank-card-2-line:before { content: "\efea"; }
.remixicon-bank-card-fill:before { content: "\efeb"; }
.remixicon-bank-card-line:before { content: "\efec"; }
.remixicon-bank-fill:before { content: "\efed"; }
.remixicon-bank-line:before { content: "\efee"; }
.remixicon-bar-chart-2-fill:before { content: "\efef"; }
.remixicon-bar-chart-2-line:before { content: "\eff0"; }
.remixicon-bar-chart-box-fill:before { content: "\eff1"; }
.remixicon-bar-chart-box-line:before { content: "\eff2"; }
.remixicon-bar-chart-fill:before { content: "\eff3"; }
.remixicon-bar-chart-line:before { content: "\eff4"; }
.remixicon-barcode-box-fill:before { content: "\eff5"; }
.remixicon-barcode-box-line:before { content: "\eff6"; }
.remixicon-barcode-fill:before { content: "\eff7"; }
.remixicon-barcode-line:before { content: "\eff8"; }
.remixicon-barricade-fill:before { content: "\eff9"; }
.remixicon-barricade-line:before { content: "\effa"; }
.remixicon-base-station-fill:before { content: "\effb"; }
.remixicon-base-station-line:before { content: "\effc"; }
.remixicon-battery-2-charge-fill:before { content: "\effd"; }
.remixicon-battery-2-charge-line:before { content: "\effe"; }
.remixicon-battery-2-fill:before { content: "\efff"; }
.remixicon-battery-2-line:before { content: "\f000"; }
.remixicon-battery-charge-fill:before { content: "\f001"; }
.remixicon-battery-charge-line:before { content: "\f002"; }
.remixicon-battery-fill:before { content: "\f003"; }
.remixicon-battery-line:before { content: "\f004"; }
.remixicon-battery-low-fill:before { content: "\f005"; }
.remixicon-battery-low-line:before { content: "\f006"; }
.remixicon-behance-fill:before { content: "\f007"; }
.remixicon-behance-line:before { content: "\f008"; }
.remixicon-bike-fill:before { content: "\f009"; }
.remixicon-bike-line:before { content: "\f00a"; }
.remixicon-bill-fill:before { content: "\f00b"; }
.remixicon-bill-line:before { content: "\f00c"; }
.remixicon-bit-coin-fill:before { content: "\f00d"; }
.remixicon-bit-coin-line:before { content: "\f00e"; }
.remixicon-bluetooth-connect-fill:before { content: "\f00f"; }
.remixicon-bluetooth-connect-line:before { content: "\f010"; }
.remixicon-bluetooth-fill:before { content: "\f011"; }
.remixicon-bluetooth-line:before { content: "\f012"; }
.remixicon-blur-off-fill:before { content: "\f013"; }
.remixicon-blur-off-line:before { content: "\f014"; }
.remixicon-bold:before { content: "\f015"; }
.remixicon-book-2-fill:before { content: "\f016"; }
.remixicon-book-2-line:before { content: "\f017"; }
.remixicon-book-3-fill:before { content: "\f018"; }
.remixicon-book-3-line:before { content: "\f019"; }
.remixicon-book-fill:before { content: "\f01a"; }
.remixicon-book-line:before { content: "\f01b"; }
.remixicon-book-mark-fill:before { content: "\f01c"; }
.remixicon-book-mark-line:before { content: "\f01d"; }
.remixicon-book-open-fill:before { content: "\f01e"; }
.remixicon-book-open-line:before { content: "\f01f"; }
.remixicon-book-read-fill:before { content: "\f020"; }
.remixicon-book-read-line:before { content: "\f021"; }
.remixicon-bookmark-2-fill:before { content: "\f022"; }
.remixicon-bookmark-2-line:before { content: "\f023"; }
.remixicon-bookmark-3-fill:before { content: "\f024"; }
.remixicon-bookmark-3-line:before { content: "\f025"; }
.remixicon-bookmark-fill:before { content: "\f026"; }
.remixicon-bookmark-line:before { content: "\f027"; }
.remixicon-briefcase-2-fill:before { content: "\f028"; }
.remixicon-briefcase-2-line:before { content: "\f029"; }
.remixicon-briefcase-3-fill:before { content: "\f02a"; }
.remixicon-briefcase-3-line:before { content: "\f02b"; }
.remixicon-briefcase-4-fill:before { content: "\f02c"; }
.remixicon-briefcase-4-line:before { content: "\f02d"; }
.remixicon-briefcase-5-fill:before { content: "\f02e"; }
.remixicon-briefcase-5-line:before { content: "\f02f"; }
.remixicon-briefcase-fill:before { content: "\f030"; }
.remixicon-briefcase-line:before { content: "\f031"; }
.remixicon-broadcast-fill:before { content: "\f032"; }
.remixicon-broadcast-line:before { content: "\f033"; }
.remixicon-brush-2-fill:before { content: "\f034"; }
.remixicon-brush-2-line:before { content: "\f035"; }
.remixicon-brush-3-fill:before { content: "\f036"; }
.remixicon-brush-3-line:before { content: "\f037"; }
.remixicon-brush-4-fill:before { content: "\f038"; }
.remixicon-brush-4-line:before { content: "\f039"; }
.remixicon-brush-fill:before { content: "\f03a"; }
.remixicon-brush-line:before { content: "\f03b"; }
.remixicon-bug-2-fill:before { content: "\f03c"; }
.remixicon-bug-2-line:before { content: "\f03d"; }
.remixicon-bug-fill:before { content: "\f03e"; }
.remixicon-bug-line:before { content: "\f03f"; }
.remixicon-building-2-fill:before { content: "\f040"; }
.remixicon-building-2-line:before { content: "\f041"; }
.remixicon-building-3-fill:before { content: "\f042"; }
.remixicon-building-3-line:before { content: "\f043"; }
.remixicon-building-4-fill:before { content: "\f044"; }
.remixicon-building-4-line:before { content: "\f045"; }
.remixicon-building-fill:before { content: "\f046"; }
.remixicon-building-line:before { content: "\f047"; }
.remixicon-bus-2-fill:before { content: "\f048"; }
.remixicon-bus-2-line:before { content: "\f049"; }
.remixicon-bus-fill:before { content: "\f04a"; }
.remixicon-bus-line:before { content: "\f04b"; }
.remixicon-calculator-fill:before { content: "\f04c"; }
.remixicon-calculator-line:before { content: "\f04d"; }
.remixicon-calendar-2-fill:before { content: "\f04e"; }
.remixicon-calendar-2-line:before { content: "\f04f"; }
.remixicon-calendar-event-fill:before { content: "\f050"; }
.remixicon-calendar-event-line:before { content: "\f051"; }
.remixicon-calendar-fill:before { content: "\f052"; }
.remixicon-calendar-line:before { content: "\f053"; }
.remixicon-calendar-todo-fill:before { content: "\f054"; }
.remixicon-calendar-todo-line:before { content: "\f055"; }
.remixicon-camera-2-fill:before { content: "\f056"; }
.remixicon-camera-2-line:before { content: "\f057"; }
.remixicon-camera-3-fill:before { content: "\f058"; }
.remixicon-camera-3-line:before { content: "\f059"; }
.remixicon-camera-fill:before { content: "\f05a"; }
.remixicon-camera-lens-fill:before { content: "\f05b"; }
.remixicon-camera-lens-line:before { content: "\f05c"; }
.remixicon-camera-line:before { content: "\f05d"; }
.remixicon-camera-off-fill:before { content: "\f05e"; }
.remixicon-camera-off-line:before { content: "\f05f"; }
.remixicon-camera-switch-fill:before { content: "\f060"; }
.remixicon-camera-switch-line:before { content: "\f061"; }
.remixicon-car-fill:before { content: "\f062"; }
.remixicon-car-line:before { content: "\f063"; }
.remixicon-car-washing-fill:before { content: "\f064"; }
.remixicon-car-washing-line:before { content: "\f065"; }
.remixicon-cast-fill:before { content: "\f066"; }
.remixicon-cast-line:before { content: "\f067"; }
.remixicon-cellphone-fill:before { content: "\f068"; }
.remixicon-cellphone-line:before { content: "\f069"; }
.remixicon-charging-pile-2-fill:before { content: "\f06a"; }
.remixicon-charging-pile-2-line:before { content: "\f06b"; }
.remixicon-charging-pile-fill:before { content: "\f06c"; }
.remixicon-charging-pile-line:before { content: "\f06d"; }
.remixicon-chat-1-fill:before { content: "\f06e"; }
.remixicon-chat-1-line:before { content: "\f06f"; }
.remixicon-chat-2-fill:before { content: "\f070"; }
.remixicon-chat-2-line:before { content: "\f071"; }
.remixicon-chat-3-fill:before { content: "\f072"; }
.remixicon-chat-3-line:before { content: "\f073"; }
.remixicon-chat-4-fill:before { content: "\f074"; }
.remixicon-chat-4-line:before { content: "\f075"; }
.remixicon-chat-check-fill:before { content: "\f076"; }
.remixicon-chat-check-line:before { content: "\f077"; }
.remixicon-chat-delete-fill:before { content: "\f078"; }
.remixicon-chat-delete-line:before { content: "\f079"; }
.remixicon-chat-download-fill:before { content: "\f07a"; }
.remixicon-chat-download-line:before { content: "\f07b"; }
.remixicon-chat-forward-fill:before { content: "\f07c"; }
.remixicon-chat-forward-line:before { content: "\f07d"; }
.remixicon-chat-new-fill:before { content: "\f07e"; }
.remixicon-chat-new-line:before { content: "\f07f"; }
.remixicon-chat-settings-fill:before { content: "\f080"; }
.remixicon-chat-settings-line:before { content: "\f081"; }
.remixicon-chat-smile-2-fill:before { content: "\f082"; }
.remixicon-chat-smile-2-line:before { content: "\f083"; }
.remixicon-chat-smile-3-fill:before { content: "\f084"; }
.remixicon-chat-smile-3-line:before { content: "\f085"; }
.remixicon-chat-smile-fill:before { content: "\f086"; }
.remixicon-chat-smile-line:before { content: "\f087"; }
.remixicon-chat-upload-fill:before { content: "\f088"; }
.remixicon-chat-upload-line:before { content: "\f089"; }
.remixicon-check-double-fill:before { content: "\f08a"; }
.remixicon-check-double-line:before { content: "\f08b"; }
.remixicon-check-fill:before { content: "\f08c"; }
.remixicon-check-line:before { content: "\f08d"; }
.remixicon-checkbox-blank-circle-fill:before { content: "\f08e"; }
.remixicon-checkbox-blank-circle-line:before { content: "\f08f"; }
.remixicon-checkbox-blank-fill:before { content: "\f090"; }
.remixicon-checkbox-blank-line:before { content: "\f091"; }
.remixicon-checkbox-circle-fill:before { content: "\f092"; }
.remixicon-checkbox-circle-line:before { content: "\f093"; }
.remixicon-checkbox-fill:before { content: "\f094"; }
.remixicon-checkbox-indeterminate-fill:before { content: "\f095"; }
.remixicon-checkbox-indeterminate-line:before { content: "\f096"; }
.remixicon-checkbox-line:before { content: "\f097"; }
.remixicon-china-railway-fill:before { content: "\f098"; }
.remixicon-china-railway-line:before { content: "\f099"; }
.remixicon-chrome-fill:before { content: "\f09a"; }
.remixicon-chrome-line:before { content: "\f09b"; }
.remixicon-clapperboard-fill:before { content: "\f09c"; }
.remixicon-clapperboard-line:before { content: "\f09d"; }
.remixicon-clipboard-fill:before { content: "\f09e"; }
.remixicon-clipboard-line:before { content: "\f09f"; }
.remixicon-close-circle-fill:before { content: "\f0a0"; }
.remixicon-close-circle-line:before { content: "\f0a1"; }
.remixicon-close-fill:before { content: "\f0a2"; }
.remixicon-close-line:before { content: "\f0a3"; }
.remixicon-cloud-fill:before { content: "\f0a4"; }
.remixicon-cloud-line:before { content: "\f0a5"; }
.remixicon-code-fill:before { content: "\f0a6"; }
.remixicon-code-line:before { content: "\f0a7"; }
.remixicon-code-view:before { content: "\f0a8"; }
.remixicon-codepen-fill:before { content: "\f0a9"; }
.remixicon-codepen-line:before { content: "\f0aa"; }
.remixicon-community-fill:before { content: "\f0ab"; }
.remixicon-community-line:before { content: "\f0ac"; }
.remixicon-compass-2-fill:before { content: "\f0ad"; }
.remixicon-compass-2-line:before { content: "\f0ae"; }
.remixicon-compass-3-fill:before { content: "\f0af"; }
.remixicon-compass-3-line:before { content: "\f0b0"; }
.remixicon-compass-4-fill:before { content: "\f0b1"; }
.remixicon-compass-4-line:before { content: "\f0b2"; }
.remixicon-compass-discover-fill:before { content: "\f0b3"; }
.remixicon-compass-discover-line:before { content: "\f0b4"; }
.remixicon-compass-fill:before { content: "\f0b5"; }
.remixicon-compass-line:before { content: "\f0b6"; }
.remixicon-compasses-2-fill:before { content: "\f0b7"; }
.remixicon-compasses-2-line:before { content: "\f0b8"; }
.remixicon-compasses-fill:before { content: "\f0b9"; }
.remixicon-compasses-line:before { content: "\f0ba"; }
.remixicon-computer-fill:before { content: "\f0bb"; }
.remixicon-computer-line:before { content: "\f0bc"; }
.remixicon-contacts-book-2-fill:before { content: "\f0bd"; }
.remixicon-contacts-book-2-line:before { content: "\f0be"; }
.remixicon-contacts-book-fill:before { content: "\f0bf"; }
.remixicon-contacts-book-line:before { content: "\f0c0"; }
.remixicon-contacts-fill:before { content: "\f0c1"; }
.remixicon-contacts-line:before { content: "\f0c2"; }
.remixicon-contrast-2-fill:before { content: "\f0c3"; }
.remixicon-contrast-2-line:before { content: "\f0c4"; }
.remixicon-contrast-drop-2-fill:before { content: "\f0c5"; }
.remixicon-contrast-drop-2-line:before { content: "\f0c6"; }
.remixicon-contrast-drop-fill:before { content: "\f0c7"; }
.remixicon-contrast-drop-line:before { content: "\f0c8"; }
.remixicon-contrast-fill:before { content: "\f0c9"; }
.remixicon-contrast-line:before { content: "\f0ca"; }
.remixicon-copper-coin-fill:before { content: "\f0cb"; }
.remixicon-copper-coin-line:before { content: "\f0cc"; }
.remixicon-copper-diamond-fill:before { content: "\f0cd"; }
.remixicon-copper-diamond-line:before { content: "\f0ce"; }
.remixicon-coupon-2-fill:before { content: "\f0cf"; }
.remixicon-coupon-2-line:before { content: "\f0d0"; }
.remixicon-coupon-3-fill:before { content: "\f0d1"; }
.remixicon-coupon-3-line:before { content: "\f0d2"; }
.remixicon-coupon-4-fill:before { content: "\f0d3"; }
.remixicon-coupon-4-line:before { content: "\f0d4"; }
.remixicon-coupon-5-fill:before { content: "\f0d5"; }
.remixicon-coupon-5-line:before { content: "\f0d6"; }
.remixicon-coupon-fill:before { content: "\f0d7"; }
.remixicon-coupon-line:before { content: "\f0d8"; }
.remixicon-cpu-fill:before { content: "\f0d9"; }
.remixicon-cpu-line:before { content: "\f0da"; }
.remixicon-crop-2-fill:before { content: "\f0db"; }
.remixicon-crop-2-line:before { content: "\f0dc"; }
.remixicon-crop-fill:before { content: "\f0dd"; }
.remixicon-crop-line:before { content: "\f0de"; }
.remixicon-cup-fill:before { content: "\f0df"; }
.remixicon-cup-line:before { content: "\f0e0"; }
.remixicon-currency-fill:before { content: "\f0e1"; }
.remixicon-currency-line:before { content: "\f0e2"; }
.remixicon-customer-service-2-fill:before { content: "\f0e3"; }
.remixicon-customer-service-2-line:before { content: "\f0e4"; }
.remixicon-customer-service-fill:before { content: "\f0e5"; }
.remixicon-customer-service-line:before { content: "\f0e6"; }
.remixicon-dashboard-fill:before { content: "\f0e7"; }
.remixicon-dashboard-line:before { content: "\f0e8"; }
.remixicon-database-fill:before { content: "\f0e9"; }
.remixicon-database-line:before { content: "\f0ea"; }
.remixicon-delete-back-2-fill:before { content: "\f0eb"; }
.remixicon-delete-back-2-line:before { content: "\f0ec"; }
.remixicon-delete-back-fill:before { content: "\f0ed"; }
.remixicon-delete-back-line:before { content: "\f0ee"; }
.remixicon-delete-bin-2-fill:before { content: "\f0ef"; }
.remixicon-delete-bin-2-line:before { content: "\f0f0"; }
.remixicon-delete-bin-3-fill:before { content: "\f0f1"; }
.remixicon-delete-bin-3-line:before { content: "\f0f2"; }
.remixicon-delete-bin-4-fill:before { content: "\f0f3"; }
.remixicon-delete-bin-4-line:before { content: "\f0f4"; }
.remixicon-delete-bin-5-fill:before { content: "\f0f5"; }
.remixicon-delete-bin-5-line:before { content: "\f0f6"; }
.remixicon-delete-bin-6-fill:before { content: "\f0f7"; }
.remixicon-delete-bin-6-line:before { content: "\f0f8"; }
.remixicon-delete-bin-7-fill:before { content: "\f0f9"; }
.remixicon-delete-bin-7-line:before { content: "\f0fa"; }
.remixicon-delete-bin-fill:before { content: "\f0fb"; }
.remixicon-delete-bin-line:before { content: "\f0fc"; }
.remixicon-device-fill:before { content: "\f0fd"; }
.remixicon-device-line:before { content: "\f0fe"; }
.remixicon-dingding-fill:before { content: "\f0ff"; }
.remixicon-dingding-line:before { content: "\f100"; }
.remixicon-direction-fill:before { content: "\f101"; }
.remixicon-direction-line:before { content: "\f102"; }
.remixicon-disc-fill:before { content: "\f103"; }
.remixicon-disc-line:before { content: "\f104"; }
.remixicon-discuss-fill:before { content: "\f105"; }
.remixicon-discuss-line:before { content: "\f106"; }
.remixicon-divide-fill:before { content: "\f107"; }
.remixicon-divide-line:before { content: "\f108"; }
.remixicon-download-2-fill:before { content: "\f109"; }
.remixicon-download-2-line:before { content: "\f10a"; }
.remixicon-download-cloud-fill:before { content: "\f10b"; }
.remixicon-download-cloud-line:before { content: "\f10c"; }
.remixicon-download-fill:before { content: "\f10d"; }
.remixicon-download-line:before { content: "\f10e"; }
.remixicon-drag-move-2-fill:before { content: "\f10f"; }
.remixicon-drag-move-2-line:before { content: "\f110"; }
.remixicon-drag-move-fill:before { content: "\f111"; }
.remixicon-drag-move-line:before { content: "\f112"; }
.remixicon-dribbble-fill:before { content: "\f113"; }
.remixicon-dribbble-line:before { content: "\f114"; }
.remixicon-drive-fill:before { content: "\f115"; }
.remixicon-drive-line:before { content: "\f116"; }
.remixicon-drop-fill:before { content: "\f117"; }
.remixicon-drop-line:before { content: "\f118"; }
.remixicon-dropbox-fill:before { content: "\f119"; }
.remixicon-dropbox-line:before { content: "\f11a"; }
.remixicon-dvd-fill:before { content: "\f11b"; }
.remixicon-dvd-line:before { content: "\f11c"; }
.remixicon-e-bike-2-fill:before { content: "\f11d"; }
.remixicon-e-bike-2-line:before { content: "\f11e"; }
.remixicon-e-bike-fill:before { content: "\f11f"; }
.remixicon-e-bike-line:before { content: "\f120"; }
.remixicon-earth-fill:before { content: "\f121"; }
.remixicon-earth-line:before { content: "\f122"; }
.remixicon-edge-fill:before { content: "\f123"; }
.remixicon-edge-line:before { content: "\f124"; }
.remixicon-edit-2-fill:before { content: "\f125"; }
.remixicon-edit-2-line:before { content: "\f126"; }
.remixicon-edit-box-fill:before { content: "\f127"; }
.remixicon-edit-box-line:before { content: "\f128"; }
.remixicon-edit-circle-fill:before { content: "\f129"; }
.remixicon-edit-circle-line:before { content: "\f12a"; }
.remixicon-edit-fill:before { content: "\f12b"; }
.remixicon-edit-line:before { content: "\f12c"; }
.remixicon-eject-fill:before { content: "\f12d"; }
.remixicon-eject-line:before { content: "\f12e"; }
.remixicon-emotion-2-fill:before { content: "\f12f"; }
.remixicon-emotion-2-line:before { content: "\f130"; }
.remixicon-emotion-fill:before { content: "\f131"; }
.remixicon-emotion-happy-fill:before { content: "\f132"; }
.remixicon-emotion-happy-line:before { content: "\f133"; }
.remixicon-emotion-line:before { content: "\f134"; }
.remixicon-emotion-normal-fill:before { content: "\f135"; }
.remixicon-emotion-normal-line:before { content: "\f136"; }
.remixicon-emotion-unhappy-fill:before { content: "\f137"; }
.remixicon-emotion-unhappy-line:before { content: "\f138"; }
.remixicon-equalizer-fill:before { content: "\f139"; }
.remixicon-equalizer-line:before { content: "\f13a"; }
.remixicon-eraser-fill:before { content: "\f13b"; }
.remixicon-eraser-line:before { content: "\f13c"; }
.remixicon-error-warning-fill:before { content: "\f13d"; }
.remixicon-error-warning-line:before { content: "\f13e"; }
.remixicon-evernote-fill:before { content: "\f13f"; }
.remixicon-evernote-line:before { content: "\f140"; }
.remixicon-exchange-box-fill:before { content: "\f141"; }
.remixicon-exchange-box-line:before { content: "\f142"; }
.remixicon-exchange-cny-fill:before { content: "\f143"; }
.remixicon-exchange-cny-line:before { content: "\f144"; }
.remixicon-exchange-dollar-fill:before { content: "\f145"; }
.remixicon-exchange-dollar-line:before { content: "\f146"; }
.remixicon-exchange-fill:before { content: "\f147"; }
.remixicon-exchange-funds-fill:before { content: "\f148"; }
.remixicon-exchange-funds-line:before { content: "\f149"; }
.remixicon-exchange-line:before { content: "\f14a"; }
.remixicon-eye-close-fill:before { content: "\f14b"; }
.remixicon-eye-close-line:before { content: "\f14c"; }
.remixicon-eye-fill:before { content: "\f14d"; }
.remixicon-eye-line:before { content: "\f14e"; }
.remixicon-eye-off-fill:before { content: "\f14f"; }
.remixicon-eye-off-line:before { content: "\f150"; }
.remixicon-facebook-box-fill:before { content: "\f151"; }
.remixicon-facebook-box-line:before { content: "\f152"; }
.remixicon-facebook-fill:before { content: "\f153"; }
.remixicon-facebook-line:before { content: "\f154"; }
.remixicon-feedback-fill:before { content: "\f155"; }
.remixicon-feedback-line:before { content: "\f156"; }
.remixicon-file-2-fill:before { content: "\f157"; }
.remixicon-file-2-line:before { content: "\f158"; }
.remixicon-file-3-fill:before { content: "\f159"; }
.remixicon-file-3-line:before { content: "\f15a"; }
.remixicon-file-4-fill:before { content: "\f15b"; }

